# Line_ML
Line_ML/Day2_RNN/node_modules
Line_ML/Day2_RNN/package-lock.json

Line_ML/Day1_LineBot_Beacon/node_modules
Line_ML/Day1_LineBot_Beacon/package-lock.json

Line_ML/Integrate_ML/node_modules
Line_ML/Integrate_ML/package-lock.json

# Server
Server/Day1_Basic_Rest_API/node_modules
Server/Day1_Basic_Rest_API/package-lock.json

Server/Day2_MongoDB/node_modules
Server/Day2_MongoDB/package-lock.json
